<!DOCTYPE html>
<html>
<head>
  <title>Parry</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="">
  <script type="text/javascript"></script>
</head>
<body>
	<h2>Welcome to Parry!</h2>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
