<!DOCTYPE html>
<html>
<head>
  <title>Smashzone</title>
  <!-- Google font import -->
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<nav class='navbar navbar-default'>
			<h2 class="logo">Smashzone!</h2>
				<div class="btn-group" role="group" aria-label="...">
				  <button type="button" class="btn-group-lg"><%= link_to 'Home', root_path %></button>
				  <button type="button" class="btn-group-lg"><%= link_to 'Smashers', users_path %></button>
				  <button type="button" class="btn-group-lg"><%= link_to 'Edit Profile', edit_user_registration_path %></button>
				  <button type="button" class="btn-group-lg"><%= link_to 'Log out', destroy_user_session_path %></button>
				</div>
		</nav>
	<div class="container page-wrap">
				
		<% if flash[:notice] %>
			<p class="notice"><%= notice %></p>
		<% end %>

		<% if flash[:alert] %>
	    	<p class="alert"><%= alert %></p>
		<% end %>

		<%= yield %>
	</div>
	<nav class='navbar navbar-default navbar-fixed-bottom'>
		<h3> Follow us on Facebook and/or Twitter! </h3>
	</nav>
</body>
</html>
